@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans:wght@400;600;700&display=swap");
html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

html,
body {
  height: 100%; }

body {
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.maincontent {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.hero {
  width: 100%;
  background: url(../img/bg1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .hero {
      background: url(../img/arnaud-mesureur-17OxKyThYPo-unsplash\ 1.png);
      background-position: right bottom;
      background-size: 100% 100%;
      position: relative; } }
  @media screen and (max-width: 480px) {
    .hero {
      background-position: right 15% bottom;
      background-size: cover; } }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5555555556rem 0 3.3888888889rem 0; }

.hero__title-section {
  width: 52%; }
  @media screen and (max-width: 768px) {
    .hero__title-section {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none; } }

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0.9444444444rem; }
  @media screen and (max-width: 768px) {
    .hero__main-title {
      padding: 0 5%; } }
  @media screen and (max-width: 480px) {
    .hero__main-title {
      padding: 0 1%; } }

.hero__title-desc {
  font-size: 1.1666666667rem;
  font-weight: 400;
  margin-bottom: 3.0555555556rem; }

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    header {
      position: absolute;
      background: #1968B1;
      left: 0;
      right: 0;
      width: 100%;
      top: 0;
      height: 5.0555555556rem; } }
  @media screen and (max-width: 768px) {
    header .logo {
      position: relative;
      top: 1.4444444444rem;
      left: 1.6666666667rem; } }

.menu {
  margin: 0 30px;
  padding-top: 5px; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 10px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  white-space: nowrap; }

.phone-number {
  font-size: 1.2222222222rem;
  display: flex;
  align-items: center; }

.phone-number__icon {
  flex-shrink: 0; }

.phone-number__icon-elem {
  height: 0.7777777778rem;
  width: 0.7222222222rem;
  margin-right: 0.3333333333rem; }

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none; } }

.phone-number__text {
  white-space: nowrap; }

.features {
  display: flex; }

.features__item {
  margin-right: 1.8333333333rem; }
  .features__item:last-child {
    margin-right: 0; }

.feature {
  display: flex; }

.feature__icon {
  width: 2.1111111111rem;
  height: 2.1111111111rem;
  margin-right: 0.6111111111rem; }

.feature__text {
  font-size: 0.8888888889rem;
  font-weight: 700;
  line-height: 1rem;
  width: 5rem; }

.btn {
  text-transform: uppercase;
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 5.5555555556rem;
  border: none;
  cursor: pointer;
  transition: .3s; }
  .btn-theme-yellow {
    background-color: #FEDB3F;
    color: #000; }
    .btn-theme-yellow:hover {
      color: #FEDB3F;
      background: #000; }
  .btn-theme-transparent {
    margin-left: 0.2777777778rem;
    background: transparent;
    color: #fff;
    text-transform: none;
    font-weight: 400; }
    .btn-theme-transparent:hover {
      color: #FEDB3F; }

.btn-slide {
  position: absolute;
  border: none;
  background: none; }
  .btn-slide__left {
    left: 3%;
    top: auto; }
  .btn-slide__right {
    right: 3%; }
  @media screen and (max-width: 768px) {
    .btn-slide__left {
      top: 25%; }
    .btn-slide__right {
      top: 25%; } }

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
  margin-bottom: 2.9444444444rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      margin-bottom: 1.8333333333rem; } }

.order-section {
  background: url(../img/orderbg.jpeg) center center/cover no-repeat; }

.section__title--white-theme {
  color: #fff; }

.benefits {
  display: flex; }
  @media screen and (max-width: 480px) {
    .benefits {
      flex-direction: column; } }

.benefits_item {
  flex: 1;
  padding: 0 3%;
  position: relative; }
  @media screen and (max-width: 480px) {
    .benefits_item {
      padding: 0;
      margin-bottom: 1.0555555556rem; }
      .benefits_item:last-child {
        margin-bottom: 0; } }
  .benefits_item::before {
    content: url(../img/circles.svg);
    position: absolute;
    top: 3.3333333333rem;
    right: 0;
    transform: translateX(50%); }
    @media screen and (max-width: 768px) {
      .benefits_item::before {
        display: none; } }
  .benefits_item:first-child {
    padding-left: 0; }
  .benefits_item:last-child {
    padding-right: 0; }
    .benefits_item:last-child::before {
      display: none; }

.benefit {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .benefit {
      display: flex;
      text-align: left; } }

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.1111111111rem; } }

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  position: absolute;
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929; }

.slider {
  position: relative;
  background-color: #F8FAF9;
  padding: 3.6111111111rem 0 1.8333333333rem 0;
  overflow: hidden; }
  .slider .container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
  .slider__wrapper {
    overflow: hidden; }
  .slider__list {
    display: flex;
    position: relative;
    transition: right; }
  @media screen and (max-width: 768px) {
    .slider {
      padding: 0 10% 1.6666666667rem; } }
  @media screen and (max-width: 480px) {
    .slider {
      padding: 0.8333333333rem 2%; } }

.slide {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: stretch; }
  .slide__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; }
  .slide__img {
    width: 100%; }
  .slide__right {
    flex: 1; }
  @media screen and (max-width: 768px) {
    .slide {
      flex-direction: column;
      gap: 0; }
      .slide__left {
        justify-content: center;
        padding: 0 7%; }
      .slide__image {
        max-width: 60%; }
      .slide__right {
        text-align: center; } }
  @media screen and (max-width: 768px) {
    .slide__image {
      max-width: 70%; } }

.params {
  padding: 15px 0; }
  @media screen and (max-width: 768px) {
    .params {
      padding: 0 2.5rem; } }
  @media screen and (max-width: 480px) {
    .params {
      padding: 0 3.0555555556rem; } }
  .params__info {
    position: relative;
    width: 5.0555555556rem;
    height: 5.0555555556rem;
    background-color: #292929;
    border-radius: 4px; }
  .params__info:hover .info__menu {
    opacity: 1; }
  .params__image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: .3s; }
  .params__img {
    width: 100%;
    height: 100%; }
  .params__title {
    font-size: 0.7777777778rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
  .params__heading {
    margin-top: 2.7777777778rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929; }
    @media screen and (max-width: 768px) {
      .params__heading {
        margin-bottom: 0; } }
  .params__text {
    margin-top: 1.3333333333rem;
    color: #666; }
    @media screen and (max-width: 768px) {
      .params__text {
        text-align: center;
        margin-top: 0.7777777778rem; } }
  .params__characters {
    margin-top: 1.3333333333rem;
    display: flex; }
    .params__characters-text {
      font-weight: 700;
      color: #000; }
    .params__characters-col {
      margin-right: 2.4444444444rem; }
      .params__characters-col:last-child {
        margin-right: 0; }
    @media screen and (max-width: 768px) {
      .params__characters {
        justify-content: center; } }
  .params__bottom {
    margin-top: 1.3333333333rem;
    display: flex;
    align-items: center;
    gap: 2.7777777778rem; }
  .params__price {
    font-size: 3.3333333333rem;
    color: #151515;
    font-weight: 300;
    display: flex;
    gap: 0.5555555556rem; }
  @media screen and (max-width: 768px) {
    .params__info {
      display: none; }
    .params__heading {
      font-size: 1.6666666667rem;
      margin-top: 0; }
    .params__bottom {
      justify-content: center; }
    .params__price {
      font-weight: 300; } }

.info__menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
  padding: 1.5555555556rem 1.6666666667rem;
  width: 16.1666666667rem;
  color: #000;
  font-size: 0.8888888889rem;
  font-weight: 500;
  transition: .3s;
  border-radius: 0.2222222222rem;
  left: 100%;
  box-sizing: border-box;
  opacity: 0; }
.info__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.4444444444rem; }
  .info__item:last-child {
    margin-bottom: 0; }
.info__icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem; }
.info__desc {
  color: black;
  font-size: 0.8888888889rem;
  font-weight: 700; }
.info__data {
  flex: 1;
  text-align: end;
  color: black; }

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem; }

.headline__title {
  margin-bottom: 0.3888888889rem; }

.headline__subtitle {
  font-weight: 400;
  text-align: center;
  padding: 0 27%; }
  @media screen and (max-width: 768px) {
    .headline__subtitle {
      padding: 0 22%; } }
  @media screen and (max-width: 480px) {
    .headline__subtitle {
      padding: 0 8%; } }

.accordeon-section {
  text-align: center; }

.accordeon {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center; }
  .accordeon-mobile {
    display: none;
    flex-direction: column;
    align-items: center; }
    .accordeon-mobile .accordeon__item {
      width: 40%;
      margin-right: 0; }
    .accordeon-mobile .accordeon__link {
      justify-content: center;
      margin-bottom: 10px; }
    .accordeon-mobile .accordeon__content {
      flex-direction: column; }
  .accordeon-container {
    margin-top: 13.8888888889rem;
    text-align: center; }
  .accordeon__item {
    justify-content: center;
    align-items: center; }
  .accordeon__item {
    margin-right: 1.1111111111rem;
    justify-content: space-between; }
    .accordeon__item:last-child {
      margin-right: 0; }
  .accordeon-active .accordeon__link {
    color: #FEDB3F; }
    .accordeon-active .accordeon__link::after {
      transform: rotate(-180deg); }
  .accordeon-active .accordeon__content {
    height: 100%; }
  .accordeon__link {
    align-items: center;
    text-align: center;
    color: #292929;
    display: inline-flex;
    align-items: center;
    font-size: 1.1666666667rem;
    font-weight: 700;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center; }
    .accordeon__link::after {
      content: "";
      height: 0;
      width: 0;
      border: 0.3888888889rem solid transparent;
      border-top-color: #292929;
      border-bottom-width: 0rem;
      margin-right: 0.7222222222rem;
      margin-left: 0.2222222222rem; }
  .accordeon__content {
    overflow: hidden;
    height: 0;
    transition: .8s; }
    .accordeon__content-wrapp {
      display: flex; }
  .accordeon__avatar {
    width: 12.2222222222rem;
    height: 16.1111111111rem;
    overflow: hidden;
    flex-shrink: 0;
    background-color: white;
    margin-bottom: 1.1666666667rem; }
    .accordeon__avatar-pic {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .accordeon__info {
    font-size: 1rem;
    font-weight: 400;
    text-align: center; }
    .accordeon__info-position {
      margin-bottom: 0.3888888889rem;
      color: #292929;
      font-size: 1rem; }
    .accordeon__info-text {
      font-weight: 300;
      line-height: 1.3333333333rem;
      color: #666;
      font-weight: 300; }
      .accordeon__info-text p {
        max-width: 12.2222222222rem; }

@media screen and (max-width: 768px) {
  .accordeon-desktop {
    display: none; }

  .accordeon-mobile {
    display: flex; }
    .accordeon-mobile .accordeon__item {
      width: 50%; } }
.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  margin-bottom: 0.8333333333rem; }

.reviews__display-inner {
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviews__display-inner {
      flex-direction: column;
      text-align: center;
      align-items: center; } }

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem; }
  @media screen and (max-width: 768px) {
    .reviews__avatar {
      width: 7.2222222222rem;
      height: 7.2222222222rem; } }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
  width: 50%;
  padding: 1.5555555556rem 0 0; }
  @media screen and (max-width: 768px) {
    .reviews__content {
      margin-left: 0;
      width: 100%; } }

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.7777777778rem; }

.reviews__text {
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.3888888889rem;
  width: 85%; }
  @media screen and (max-width: 768px) {
    .reviews__text {
      width: 100%; } }

.reviews__author {
  font-weight: 500;
  color: #292929; }

.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3333333333rem; }
  .reviews__switcher:last-child {
    gap: 0rem; }

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interactive-avatar--active {
    border-color: #FEDB3F; }

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block; }

.interactive-avatar__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.form {
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 0 19%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0; } }

.form__col {
  flex: 1;
  margin-right: 1.5rem; }
  .form__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0; } }

.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__block {
  flex: 1;
  margin-right: 0.7222222222rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  border: 0.1666666667rem solid transparent;
  border-radius: 0.2222222222rem; }
  .form__input:focus {
    border-color: #FEDB3F;
    outline: none; }
  .form__input--textarea {
    height: 8.4444444444rem;
    resize: none; }

.form__title {
  color: #fff; }

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8888888889rem; }
  .form__controls + .form__controls {
    margin-bottom: 0; }
  @media screen and (max-width: 480px) {
    .form__controls {
      justify-content: center; } }

.form__btns {
  margin-top: 2rem; }
  @media screen and (max-width: 768px) {
    .form__btns {
      display: flex;
      justify-content: center; } }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 0.6666666667rem; }
  .radio:last-child {
    margin-right: 0; }
  .radio--checkbox .radio__visible {
    border-radius: 0.2222222222rem; }
    .radio--checkbox .radio__visible::before {
      background: url(../../img/checkmark.svg) center center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible::before {
    display: block; }

.radio__visible {
  position: relative;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background: #fff;
  border-radius: 50%;
  margin-right: 0.5555555556rem; }
  .radio__visible::before {
    content: '';
    width: 0.7222222222rem;
    height: 0.7222222222rem;
    background: #FEDB3F;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.title {
  color: #fff; }

.fixed-menu {
  position: fixed;
  top: 11.9444444444rem;
  right: 2.5rem;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 0.0555555556rem solid transparent;
  border-radius: 50%;
  position: relative;
  margin-bottom: 1.1111111111rem; }
  .fixed-menu__item-active {
    border-color: #fff; }
  .fixed-menu__item:last-child {
    margin-bottom: 0; }

.fixed-menu__link {
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  display: block;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.map-section {
  background: url(../img/map.png) center center/cover no-repeat;
  position: relative; }

.footer {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
  padding: 1.2777777778rem 0; }

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      flex-direction: column; } }

.socials {
  display: flex;
  align-items: center; }

.socials__item {
  margin-right: 0.7777777778rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__link {
  display: block; }

.socials__icon {
  overflow: hidden;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #666; }
  .socials__icon:hover {
    fill: #292929;
    stroke: none; }

.contacts {
  font-style: normal; }
  @media screen and (max-width: 480px) {
    .contacts {
      display: flex;
      flex-direction: column;
      margin-bottom: 19px;
      align-items: center; } }

.contacts__address {
  font-size: 1.3333333333rem; }

.overlay {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .overlay--active {
    left: 0;
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .overlay .menu {
      display: flex; }
      .overlay .menu:hover {
        color: #FEDB3F; }
      .overlay .menu__list {
        display: flex;
        color: #fff;
        flex-direction: column;
        font-size: 2rem;
        line-height: 4rem;
        font-weight: normal; }
      .overlay .menu__item {
        padding: 0;
        margin: 0;
        transition: .3s; }
        .overlay .menu__item:hover {
          color: #FEDB3F; } }

.body--active-menu {
  overflow: hidden; }

.burger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: 1.8888888889rem;
  right: 3%;
  transition: all .4s;
  z-index: 15; }
  @media screen and (max-width: 768px) {
    .burger {
      display: inline-flex; } }
  .burger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
    width: 100%;
    transition: all .4s; }

.burger--active .burger__plank:nth-child(1) {
  opacity: 0; }
.burger--active .burger__plank:nth-child(2) {
  transform: rotate(45deg); }
.burger--active .burger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px) translateX(5px); }

/*# sourceMappingURL=main.css.map */
