.btn {
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: 800;
  padding: rem(21px) rem(41px);
  border-radius: rem(100px);
  border: none;
  cursor: pointer;
  transition: .3s;


  &-theme-yellow {
    background-color: $yellow;
    color: $black;

    &:hover {
      color: $yellow;
      background: $black;
    }
  }

  &-theme-transparent{
    margin-left: rem(5px);
    background: transparent; 
    color: $white;
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: $yellow;
    }
  }
}

.btn-slide {
  position: absolute;
  border: none;
  background: none;

  &__left {
    left: 3%;
    top: auto;
  }

  &__right {
    right: 3%;
  }

  @include tablets {
    &__left {
      top: 25%
    }

    &__right {
      top: 25%
    }
  }
}
