.burger {
  width: 26px;
  height: 24px; 
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: rem(34px);
  right: 3%;
  transition: all .4s;
  z-index: 15;

  @include tablets {
    display: inline-flex;
  }

  &__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
    width: 100%;
    transition: all .4s;}
}

.burger--active{
  .burger__plank{
    &:nth-child(1){
      opacity:0;
    }
    
    &:nth-child(2){
      transform:rotate(45deg);
    }
    
    &:nth-child(3){
      transform:rotate(-45deg) translateY(-8px) translateX(5px);
    }
  }
}