.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets { 
    margin-right: 0; 
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(14px);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: rem(13px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(18px) rem(12px);
  border: rem(3px) solid transparent;
  border-radius: rem(4px);

  &:focus {
    border-color: $yellow;
    outline: none;
  }

  &--textarea {
    height: rem(152px);
    resize: none;
  }
}

.form__title {
  color: $white;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(16px); 

  & + .form__controls{
    margin-bottom: 0;
  }

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  margin-top: rem(36px);

  @include tablets {
    display: flex;
    justify-content: center;
  }
}

