header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 700;
  
  @include tablets {
    position: absolute;
    background: $blue;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: rem(91px);
  }

  .logo {
    position: relative;
    top: rem(26px);
    left: rem(30px);
  }
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
    
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(22px);
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;
}

.phone-number {
  font-size: rem(22px);
  display: flex;
  align-items: center;
} 

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  height: rem(14px);
  width: rem(13px);
  margin-right: rem(6px);
}

.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number__text {
  white-space: nowrap;
}